*{
	margin: 0;
	padding: 0;
	font-size: 6vw;

}

body{
	background-image: url(/assets/images/main-bg.png);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	        background-size: cover;
	/*background-position: 0%,10%;*/
}
.wrapper{
	overflow: hidden;
}
blockquote{
	font-size: 7vw;
	font-family: JQLaoSongJT,serif;
	font-weight: 900;
	line-height: 130%;
}
b{
	font-size: 12vw;
	font-weight: bolder;
	font-family: Arial,serif;
}
.wrapper{
	width:100%;
}

.logo{
	width: 12%;
	position: absolute;
	top:5%;
	left: 44%;
}
.record-box{
	margin-top: 20%;
}
.main-text{
	width: 64%;
	margin:25% auto 5%;
	word-wrap:break-word;
	word-break:keep-all;
	text-align: center;
}
.img-rigui{
	width: 60%;
	position: absolute;
	bottom:18%;
	left: 20%;
}
.main-mic{

}
.main-mic img{
	position: absolute;
	width: 80%;
	left: 10%;
	bottom: 0%;
}
.main-wave{
	position: absolute;
	bottom: -4%;
	width: 100%;
}

