<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/assets/css/start.css">
    <script src="/assets/js/lib/modernizr.js"></script>
    <script src="/assets/js/lib/require.js"></script>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport" />
    <script>
      requirejs(['/assets/js/application.js'], function(app){
        requirejs('app/index');
      });
    </script>
</head>

  <div class="btn-enter">

   <!--  <a href="index.html">
      <span>进入</span>
    </a> -->
    <img src="/assets/images/start-gu.png" class="img-gu">
    <img src="/assets/images/start-yaoyiyao.png" class="img-yaoyiyao">
  </div>
</body>
</html>