<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <script src="/assets/js/lib/modernizr.js"></script>
    <script src="/assets/js/lib/require.js"></script>
    <script src="/assets/js/lib/jquery.js"></script>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport" />
    <script>
      requirejs(['/assets/js/application.js'], function(app){
        requirejs(['app/start']);
      });
    </script>
</head>
<body>
  <div class="wrapper">
    <img class="logo" src="assets/images/logo.png"> 
    <div class="main-text">
      <blockquote><b>"</b>王婆卖瓜又买花，边卖来一边夸，又夸花，又夸瓜，夸瓜大，大夸花，瓜大，花好，笑哈哈。<b>"</b></blockquote>
    </div>
    <img class="img-rigui" src="/assets/images/rigui.gif">
      <a class="main-mic" id="mic"></a>
  </div>
</body>
</html>